@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Clima tempo simples </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <div class="card ">
                <h5 class="card-header text-left bg-primary">Cidades mais quentes hoje</h5>
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                Petropolis
                            </td>
                            <td>
                                Min 6º
                            </td>
                            <td>
                                Máx
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card ">
                <h5 class="card-header text-left bg-primary">Cidades mais frias hoje</h5>
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                Petropolis
                            </td>
                            <td>
                                Min 6º
                            </td>
                            <td>
                                Máx
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>