@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Clima tempo simples </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Segunda feira</h5>
                    <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-header bg-primary">
                cidade mais frias hoje 
            </div>
            <div class="card-body">
                <h5 class="card-title">Título especial</h5>
                <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="card bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Cabeçalho</div>
        <div class="card-body">
            <h5 class="card-title">Título de Card Dark</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
    </div>

    <div class="card  bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Cabeçalho</div>
        <div class="card-body">
            <h5 class="card-title">Título de Card Dark</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
    </div>
</div>
</div>
